page-encrypt {
    ion-col {
        text-align: center;
    }
    
    textarea.text-input {
        display: block;
        height:100px;
    }
    
    ion-slide * {
        background-color: white;
        white-space: pre-wrap;
        text-align: left;
    }
    
    .slide-zoom {
        height: 100% !important;
    }
    
    div.swiper-pagination {
        top: 20px;
        bottom: inherit;
     }

    .error {
        color: red;
        text-align: justify;
    }
}
