<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <p>
        We are a group of Computer Science students who study digital security systems. We are implementing the Trapdoor Knapsack Simulator as our final year project.</p>
    <p>
        Our aim is to help the users to understand how the trapdoor knapsack algorithm works by showing a step by step process of the 3 core functions, which are Key Generation, Encryption and Decryption.</p>
    <p>
        For more information related to this project, please visit us <a href="https://sites.google.com/site/projectkssp183b/" target="_blank">here</a>.
    </p>
    <p>
        Have a question or comment? <a href="https://sites.google.com/site/projectkssp183b/home/contact-us" target="_blank"><ion-icon name="mail"></ion-icon> Leave us a message!</a>
    </p>
</ion-content>
