<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Decryption</ion-title>
    </ion-navbar>
</ion-header>
  
<ion-content padding>
    <!-- <div *ngIf=requiredCreateKey> 
        <h3 class="error" >Warning: Keys are not being created. Please add the keys to decrypt your ciphertext.</h3>
    </div> -->
    <div *ngIf="isEditing">
        <ion-item>
            <ion-label color="primary" stacked>Ciphertext</ion-label>
            <ion-label>
                <ion-icon name="information-circle"></ion-icon>
                Example of ciphertext: 43,11,43,29 
            </ion-label>
      <ion-textarea type="text" [(ngModel)]="ciphertext" name="ciphertext" (ionChange)="ciphertextChanged($event)"></ion-textarea>
        </ion-item>
        <br>
        <br>
        <div *ngIf=requiredCreateKey>
            <b>Notes:<br>
                Keys are not being created. Predefined keys will be used to decrypt your ciphertext.</b>
        </div>
        <br>
        <br>
    <ion-grid>
            <ion-row>
                <ion-col> 
                    <button ion-button #btnUpload (click)="upload()">Upload Ciphertext</button>
                </ion-col>
                <ion-col>
                    <button ion-button #btnNext (click)="decrypt()">Decrypt</button>
                </ion-col>
            </ion-row>   
        </ion-grid>
    </div>
    <div *ngIf="showSlide">
        <div>
            <h4>Your ciphertext is {{ ciphertext }}</h4>
            <hr>
            Keysize: {{ keysize }}<br>
            Modulus: {{ modulus }}<br>
            Multiplier: {{ multiplier }}<br>
            Private keys: {{ privateKeyArr }}
            <hr>
        </div>
        <ion-item>
                <ion-label>Go to Slide </ion-label>
                <ion-input type="number" [(ngModel)]="goToSlideNumber" name="goToSlideNumber" placeholder="#" (ionChange)=updateCurrentSlide($event) (keyup.enter)="goToSlide()"></ion-input>
            </ion-item>
            <ion-slides #slide (ionSlideReachStart)="getTotalSlide()" (ionSlideDidChange)="updateSlide()" (ionSlideWillChange)="updateSlide()" effect="fade" autoplay="5000" centeredSlides="true" zoom="false" pager="true" paginationType="fraction">
            <ion-slide *ngFor="let s of explainedLinesArr">
                <p>{{ s }}</p>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
