page-addkey {
     
    .alert-title {
      text-align: center;
    }
    .alert-sub-title {
      text-align: center;
    }
  
    .alert-message {
      text-align: center;
    }
  
    .alert-button-inner {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    #btnNext {
        margin:auto;
    }

    #publicKeyList {
        font-size: 14pt;
        line-height: 120%;
    }

    #publicKeyList div {
        padding-top: 3px;
    }
  
}
