<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Add Key</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="isEditing; else template">
        <h2>Enter key size of your trapdoor knapsack algorithm</h2>
        <ion-item>
            <ion-label>Number of Keys</ion-label>
            <ion-select (ionChange)="sizeChange($event)" interface="popover">
                <ion-option>2</ion-option>
                <ion-option>4</ion-option>
                <ion-option>6</ion-option>
                <ion-option>8</ion-option>
                <ion-option>10</ion-option>
                <ion-option>12</ion-option>
                <ion-option>14</ion-option>
                <ion-option>16</ion-option>
                <ion-option>18</ion-option>
                <ion-option>20</ion-option>
            </ion-select>
        </ion-item>
        <br>
        <br>
        <div #keyList *ngIf="hasSize">
            <h2>Enter your private keys</h2>
            <ion-item *ngFor="let number of items; let idx = index">
                <ion-label>Number {{idx+1}}</ion-label>
                <ion-input type="number" text-right attr.id="key{{items[idx].id}}" (ionChange)="numberChagned($event, idx)" required></ion-input>
            </ion-item>
        </div>
    </div>
    <ng-template #template>
        <h4>Your private key is {{privateKeyStr}}</h4>
    </ng-template>
    <br>
    <div *ngIf="hasSize && keysEntered && showNext">
        <button ion-button #btnNext (click)="goNext()">Next</button>
        <div *ngIf="showSuperincreasingExplain">
            <br>
            <br>
            <hr>
            <h4 style="text-align:center;">What is Super-increasing Key?</h4>
            <p style="text-align:justify;">
                A superincreasing sequence shows that the next term of the sequence is greater than the sum of all preceding terms.<br>
                <br>
                Explanation:<br>
                Number 1 = 1<br>
                Number 2 = 2<br>
                Number 3 = 3<br>
                Number 4 = 9<br>
                <br>
                Sum = 1+2+3+9 = 15<br>
                <br>
                The next number must be larger than 15.<br>
                Thus, number 5 = 20<br>
            </p>
            <br>
            <br>
        </div>
    </div>
    <div *ngIf="keyValid">
        <div *ngIf="!pkGenerated">
            <ion-item>
                <ion-label>Enter Modulus</ion-label>
                <ion-input type="number" text-right (ionChange)="modulusChanged($event)"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Enter Multiplier</ion-label>
                <ion-input type="number" text-right (ionChange)="multiplierChanged($event)"></ion-input>
            </ion-item>
            <div *ngIf="showCoprimeExplain">
                <br>
                <br>
                <hr>
                <h4>Hint!</h4>
                <p style="text-align:justify;">
                You can use Great Common Divisor (GCD) to check if both numbers are relatively prime to each other.<br>
                <br>
                If GCD(x,y)=1, it shows that x is relatively prime to y.<br>
                </p>
            </div>
            <br>
            <button ion-button #btnGenPK (click)="generateKey()">Generate Public Key</button>
        </div>
        <div *ngIf="pkGenerated">
            <h4>Your modulus and multiplier are {{modulus}}, {{multiplier}}</h4>
            <div>
                The public key is not presented in a super-increasing sequence.
                It is calculated using private key, modulus, and multiplier.<br>
                <br>
                This process is known as the transformation of the super-increasing knapsack algorithm 
                to the non-superincreasing knapsack algorithm.<br>
                <br>
                To calculate public key, apply the formula:<br>
                <b>PublicKey[i] = (PrivateKey[i] * Multiplier) mod Modulus</b>
            </div>
            <hr>
        </div>
        <div #publicKeyList *ngFor="let line of pkExplainedLines">
            <p>{{ line }}</p>
        </div>
        <ion-grid *ngIf="pkGenerated">
            <ion-row>
                <ion-col> 
                    <button ion-button #btnSave (click)="saveKey()">Save Key</button>
                </ion-col>
                <ion-col>
                    <button ion-button #btnCancel (click)="cancel()">Reset</button>
                </ion-col>
            </ion-row>   
        </ion-grid>
    </div>
</ion-content>
