<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upload Key</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <p>Text file format:
      <i>superincreasing key separated by comma</i>|<i>modulus</i>|<i>multiplier</i></p>
    <ion-label>Example: 1,2,4,10|23|17</ion-label>
    <button ion-button #btnUploadKey (click)="uploadKey()">Add Key From File</button>
    <ion-textarea type="text" [(ngModel)]="privateKey" name="privateKey" readonly='true'></ion-textarea>
    <ion-grid *ngIf="fileLoaded">
        <ion-row>
            <ion-col> 
                <button ion-button #btnSave (click)="saveKey()">Save</button>
            </ion-col>
            <ion-col>
                <button ion-button #btnCancel (click)="cancel()">Cancel</button>
            </ion-col>
        </ion-row>   
    </ion-grid>
    
</ion-content>
