<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="this.userdata.isLoggedIn; else loginTemplate">
        <h1>Welcome, {{this.userdata.displayName}}!</h1>
        <p><ion-avatar item-left>
            <img src="{{this.userdata.imageUrl}}">
           </ion-avatar></p>
        <p>
          Email: {{this.userdata.email}}<br>
        </p>
        <p><button ion-button (click)="logout()">Logout From Google</button></p>
    </div>
    
    <ng-template #loginTemplate>
        <h3>Login to have more features</h3>
        <p><button ion-button (click)="login()">Login With Google</button></p>
    </ng-template>
</ion-content>
